th div {
  float: right; }
  th div img {
    height: 15px; }
  th div.desc img {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }
